<div class="rules-modal">

  <!-- <a href="https://u24defend.pay.whitepay.com/" target="_blank">
    <img class="w-100" src="assets/images/season5.png" alt="dm s5">
  </a> -->

  <div class="rules-modal-content flex flex-col p-4">
    <div class="text-md text-center modal-content">
      <div class="text-lg text-bold mb-2">Welcome to the OverWatcher!</div>
      <div class="text-md text-start">
        <div class="mb-4">
          This tool allows you to view EOS Mainnet Transactions for most of the popular coins.
        </div>

       <div class="mb-4">
        Buys are <span class="buy">Green</span>, Sells are <span class="sell">Red</span>, Newdex orders are <span class="newdex">Purple</span>, Lending actions are <span>yellow/orange</span> and arbitrage bots are <span class="bot">Gray</span> (you can disable them from the settings).
       </div>

      </div>
      <!-- <div class="text-start text-md font-bold my-1">
        Few words about our features:
      </div> -->
      <div class="text-start">
        <div class="mb-4">
          For any issues, questions or bug reports please join our
          <a class="text-blue-400 underline" href="https://t.me/efi_global" target="_blank">Telegram Channel</a>
           and let us know how we can improve it.
        </div>
        <div>
          Happy Trading!
        </div>
      </div>
    </div>

    <div class="pomelo-actions flex flex-row items-center justify-between mt-4">

      <div class="pomelo-actions__checkbox flex flex-col">

        <!-- <mat-checkbox color="primary" [formControl]="annoyingModalControl">
          Dont show again
        </mat-checkbox> -->

        <!-- <mat-checkbox color="primary" [formControl]="annoyingModalControl">
          F**ck yeah, man! I support you!
        </mat-checkbox> -->

      </div>

      <div class="pomelo-actions__button flex items-center">

        <button
          class="apply-btn"
          mat-flat-button
          (click)="close()">
          Close
        </button>

      </div>

    </div>

  </div>

</div>
